#loremipsum {color: red;}

#hrtophome {margin-top: 25px;}

h1 {
    text-align: center; 
    padding-bottom: 15px;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Crete Round', serif;
    font-family: 'Laila', sans-serif;
}
hr {margin-top: 50px; margin-bottom: 50px;}

h1 {
    
} 

nav {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #FF6524;
    border-radius: 1em; 
}
nav a, span {
    color: black;
}
nav a:hover {
    color: white;
}

#skip {
    position: absolute; /* relative to parent container */
    left: -999px; /* move it off the page */
    background-color: #002D72;
    color: white;
}
#skip:focus {
    left: 10px; /* move out link back on screen */
}


footer {
    background-color: #FF6524;
    color: black;
    padding: 10px;
    border-radius: 1em; 
}

footer a {color: black}

footer a:visited {
    color: black;
}

 footer a:hover {
    color: white;
 }
 



 @media only screen and (max-width: 900px) {
    nav a {width: 100%; display:block; padding: 5px}
    span {display: none;}

}




/* #002D72  -  This is blue color code
#FF5910 - This is the orange color    #FF6524*/



/* CSS For Timeline Below */
.timeline {
    width: 1000px;
    height: 20px;
    list-style: none;
    text-align: justify;
    margin: 80px auto;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, #FF5910), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, #FF5910 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}

.timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.timeline li {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #FF5910;
    text-align: center;
    line-height: 1.2;
    position: relative;
    border-radius: 50%;
}

.timeline li:before {
    display: inline-block;
    content: attr(data-year);
    font-size: 26px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline li:nth-child(odd):before {
    top: -40px;
    width: 200px;
}

.timeline li:nth-child(even):before {
    bottom: -40px;
    width: 200px;
}

.timeline li:after {
    display: inline-block;
    content: attr(data-text);
    font-size: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline li:nth-child(odd):after {
    bottom: 0;
    margin-bottom: -10px;
    transform: translate(-50%, 100%);
    width: 100px;
}

.timeline li:nth-child(even):after {
    top: 0;
    margin-top: -10px;
    transform: translate(-50%, -100%);
    width: 115px;
}