h1 {text-align: center;}
hr {margin-top: 20px; margin-bottom: 20px;}

nav {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #FF6524;
    border-radius: 1em; 
}
nav a, span {
    color: black;
}
nav a:hover {
    color: white;
}

#skip {
    position: absolute; /* relative to parent container */
    left: -999px; /* move it off the page */
    background-color: #002D72;
    color: white;
}
#skip:focus {
    left: 10px; /* move out link back on screen */
}


footer {
    background-color: #FF6524;
    color: black;
    padding: 10px;
    border-radius: 1em; 
}
footer {
    color: black;
}
footer a:visited {
    color: black;
}

 footer a:hover {
    color: white;
 }
 



 @media only screen and (max-width: 900px) {
    nav a {width: 100%; display:block; padding: 5px}
    span {display: none;}

}




/* #002D72  -  This is blue color code
#FF5910 - This is the orange color    #FF6524*/
