body{
    background-color: #F6F6F6;
}
p{
    color: #212121;
}
a:link{color:#6D9886;}


nav{
    background-color: #345B63;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {color: #6D9886;}
nav a:hover {background-color: #152D35;}

.part2{display: flex;}